numpy
chainer<7.8.0
cupy<7.8.0
numba
librosa==0.8.0
pysptk
matplotlib
tqdm
retry
tensorboardX
parameterized
optuna
more_itertools
cython
git+https://github.com/Hiroshiba/acoustic_feature_extractor@7cab860d9623c34a6ce818ff87c0c14a9ed60231
