numpy
chainer
cupy
numba<0.50.0
librosa<0.7.0
pysptk
matplotlib
tqdm
retry
tensorboardX
parameterized
optuna
more_itertools
cython
git+https://github.com/Hiroshiba/acoustic_feature_extractor@7beb1ceb7244a997865778c3a7c730e5fc0cbe02
